<!-- 
File: main.html
Author: Alicia (beans@bu.edu), 9/18/2025
Description: This is the page that displays the main home 
menu of the restaurant page
-->

{% extends 'restaurant/base.html' %}

{% block title %}The Usual Place{% endblock %}

{% block content %}

<!-- Main restaurant display container-->
<div class="main-container">
    <!-- Page Title -->
    <h1>Welcome to The Usual Place!</h1>

    <!-- image of the restaurant (oOOoooOo super creepy oOOoOo)-->
    <div class="restaurant-image">
        <img src="{{ image }}" alt="The Usual Place Restaurant" class="main-image">
    </div>
    
    <!-- Restaurant description -->
    <div class="restaurant-info">
        <h2>Where Everyone Knows (who) You're Order</h2>
        <p>Welcome to The Usual Place, where we've been serving the community since... well, since you started coming here. 
           You know how it is, some places just feel like home, even if you don't remember your first visit.</p>
        
        <p>Our friendly staff have been expecting you. 
           They always know exactly what you want.</p>

        <h3>Hours of Operation</h3>
        <ul class="hours-list">
            <li>Monday - Thursday: 6:00 AM - 11:00 PM</li>
            <li>Friday - Saturday: 6:00 AM - 12:00 AM</li>
            <li>Sunday: 7:00 AM - 11:00 PM</li>
            <li>just kidding...</li>
        </ul>
        
        <p><em>We're always here when you need us most.</em></p>
        
        <!-- Navigation to order page -->
        <div class="order-link">
            <a href="{% url 'order' %}" class="order-btn">Place Your Usual Order</a>
        </div>
    </div>
</div>
{% endblock %}