<!-- 
File: about.html
Author: Alicia (beans@bu.edu), 9/11/2025
Description: The template for the about page for the Borat Quote of the Day application.
Displays information about Borat and the application itself.
-->

{% extends 'quotes/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<!-- Main about page container -->
<div class="about-container">
    <!-- Section for person information -->
    <h1>About {{ person_name }}</h1>
    <p>{{ bio }}</p>
    
    <!-- Section for application information -->
    <h2>About This Application</h2>
    <p>This Quote of the Day application was created by Alicia as an expression for her love of Borat (she has yet to watch Borat)</p>
</div>
{% endblock %}