<!-- 
File: quote.html
Author: Alicia (beans@bu.edu), 9/11/2025
Description: The main quote display template for the Borat Quote of the Day application.
Shows a random quote and image with option to get another quote.
-->

{% extends 'quotes/base.html' %}

{% block title %}Quote of the Day{% endblock %}

{% block content %}
<!-- Main quote display container -->
<div class="quote-container">
    <!-- Page title -->
    <h1>Borat Quote of the Day</h1>
    
    <!-- show random image -->
    <img src="{{ image }}" alt="Famous person" class="quote-image">
    
    <!-- show random quote -->
    <blockquote>
        {{ quote }}
    </blockquote>
    
    <!-- Button to refresh and get another quote -->
    <a href="{% url 'quote' %}" class="refresh-btn">Get Another Quote</a>
</div>
{% endblock %}